.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: fit-content;
    background-color: #DFC6BF;
}
.text-about h2{
    padding: 50px 0;
    display: block;
    font-size: 1.6rem;
    color: #2a2a2a;
}
.text-about img{
    width: 240px;
    margin-bottom: 30px;
    align-self: center;
}
.p-about{
    line-height: 2.5rem;
    width: 70%;
    align-self: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
}
.p-about p{
    margin: 15px;
    align-items: center;
}



/*MEDIA QUERIES*/
@media (max-width: 926px){
    .p-about{width: 80%;}
}
@media (max-width: 830px){
    .p-about p{font-size: 1.4rem;}
}
