.img-home{
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    color: #2a2a2a;
}
.title-home{
    display: inline-block;
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
}
.title-home h2{
    display: block;
    font-size: 3.2rem;
    padding: 0;
}
.title-effect{
    display: block;
    overflow: hidden;
    border-right: .2rem solid #7B5B52;
    white-space: nowrap;
    animation: typing 6s forwards;
    z-index: 0;
}
@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
.img-profile{
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 3px 30px;
    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 200px;
}
.img-profile img{
    width: 220px;
}
.img-profile ul{
    list-style-type: none;
    display: block;
    float: right;
    margin: auto;
}
.img-profile ul li{
    font-size: 1.3rem;
    margin: 20px 0;
}
.portfolio-button{
    background-color: transparent;
    margin-left: 200px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 20px;
    border: 2px solid #2a2a2a;
    display: block;
    margin-top: 100px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio-button a{
    color: #2a2a2a;
}
.portfolio-button:hover {
    border: 2px solid #2a2a2a;
    background-color: rgba(42, 42, 42, 0.5);
    transition: all 0.5s ease;
    box-shadow: inset 180px 0 0 0 #2a2a2a;
}
.portfolio-button a:hover{
    color: #fff;
    transition: all 0.5s ease;
}



/*MEDIA QUERIES*/
@media (max-width: 1420px){
    .title-home, .portfolio-button{margin-left: 150px;}
    .img-profile{margin-right: 150px;}
    .title-home h2{font-size: 2.8rem;}
    .img-profile{
        padding: 30px;
        width: 430px;
        margin-right: 150px;
    }
    .img-profile img{width: 200px;}
}
/*@media (max-width: 1260px){
    .title-home h2{font-size: 2.6rem;}
    .img-profile{
        padding: 30px;
        width: 430px;
    }
    .img-profile img{width: 200px;}
}*/
@media (max-width: 1248px){
    .title-home, .portfolio-button{margin-left: 120px;}
    .img-profile{
        width: 400px;
        margin-right: 120px;
    }
    .img-profile ul{margin-left: 10px;}
    .img-profile ul li{font-size: 1.1rem;}
}
@media (max-width: 1035px){
    .title-home h2{font-size: 2.3rem;}
    .img-profile{
        width: 300px;
        text-align: center;
    }
    .img-profile ul{margin: 0; float: none;}
}
@media (max-width: 926px){
    html{font-size: 80%;}
    .img-home{height: 90vh;}
    .img-profile{padding: 20px;}
    .img-profile ul li{font-size: 1.3rem;}
}
@media (max-width: 830px){
    html{font-size: 70%;}
    .img-home{
        text-align: center;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .title-home{
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .img-profile{
        padding: 20px;
        width: 300px;
        text-align: center;
        margin: 100px 0;
    }
    .img-profile img{width: 180px;}
    .img-profile ul{margin: 0; float: none;}
    .img-profile ul li{font-size: 1.3rem;}
    .portfolio-button{margin: 0;}
}
@media (max-width: 768px){
    .img-home{
        text-align: center;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        height: 100vh;
    }
    .title-home{
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
    .img-profile{
        padding: 20px;
        width: 300px;
        text-align: center;
        margin: 100px 0;
    }
    .img-profile img{width: 180px;}
    .img-profile ul{margin: 0; float: none;}
    .img-profile ul li{font-size: 1.3rem;}
    .portfolio-button{margin: 0;}
}
@media (max-width: 480px){
    .img-home{height: 110vh;}
    .title-home{text-align: center; margin-top: 0px;}
    .img-profile{
        padding: 20px;
        width: 280px;
        text-align: center;
        margin: 90px 0;
    }
    .img-profile img{width: 150px;}
    .img-profile ul{margin: 0; float: none;}
    .img-profile ul li{font-size: 1.3rem;}
    html{font-size: 70%;}
}
@media (max-width: 360px){
    .img-profile{
        width: 240px;
        margin: 80px 0;
    }
    html{font-size: 60%;}
}